
button{
	width: 100%;
    border: 2px solid #B1E1FF;
    padding: 18px;
    font-family: rubik,sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #B1E1FF;
    color: #A66CFF;
	
}


button:hover{
	border: 2px solid #A66CFF;
	background: #A66CFF;
	color: #B1E1FF;
}


*{

	background: #AFB4FF;
}

.Header{
	font-weight: 300px;
	
}