<!doctype html>

<!--
	Developed by : S Sakthi Saravanan
					20BCE1354

-->

<html style = "background: #AFB4FF;">


	<head>
		<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
		<link rel = "stylesheet" href = "./header.css" >

	
	</head>

	<div style="font-family: rubik">
				 		
		<h1 style="font-weight: 300">AlgoPark - One Stop for Learning Computer Science</h1>
	
		<table >		
			
			<tbody style="width:100%">
			
				<tr> 
					
					<td > 
						<a href = "../LoginPage/loginPage.html" target="_top"><button>Dashboard</button></a> 
					</td>
					<td > 
						<a href = "../WatchCourses/WatchCourses.html" target="_top"><button>Watch Courses</button></a> 
					</td>
					<td> 
						<a href = "../Roadmap/CoreFrameset.html" target="_top"><button>Course Roadmap</button></a> 
					</td>
					<td> 
						<a href = "../Resources/index.html" target="_top"><button> DSA Practise </button> </a>
					</td>
					<td> 
						<a href = "" target="_top"><button> Algorithm Contest</button></a> 
					</td>
					
				</tr>

			</tbody>
		</table> 

	
			
	</div>


</html>