<!doctype html>

<!--
	Developed by : S Sakthi Saravanan
					20BCE1354

-->

<html style="background: #AFB4FF;">


<head>
	<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
	<link rel="stylesheet" href="./header.css">


</head>

<script>
	parent.document.getElementById("header").noResize = true
</script>

<div style="font-family: rubik">

	<h1 style="font-weight: 300">
		<a href="../home.html" target="_top" style="text-decoration: none;">
			AlgoPark - One Stop for Learning Computer Science
		</a>


	</h1>

	<div>


		<table>

			<tbody style="width:100%">

				<tr>

					<td>
						<a href="../Dashboard/index.html" target="_top"><button>Dashboard</button></a>
					</td>
					<td>
						<a href="../WatchCourses/WatchCourses.html" target="_top"><button>Watch Courses</button></a>
					</td>
					<td>
						<a href="../Roadmap/CoreFrameset.html" target="_top"><button>Course Roadmap</button></a>
					</td>
					<td>
						<a href="../DSA/dsaFrameset.html" target="_top"><button> DSA Practise </button> </a>
					</td>
					<td>
						<a href="../Discussion/index.html" target="_top"><button> Discussion Forum </button> </a>
					</td>
					<td>
						<a href="logout.php" target="_top"><button class = "logout"> Logout</button></a>
					</td> 

				</tr>

			</tbody>
		</table>
		<!-- <a href="logout.php" target="_top"><button>Logout</button></a> -->

	</div>





</div>


</html>