<!doctype html>

<!--
	Developed by : S Sakthi Saravanan
					20BCE1354

-->

<html style = "background: #AFB4FF;">


	<head>
		<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
		<link rel = "stylesheet" href = "./Sidebar.css" >

	
	</head>

	<div style="font-family: rubik">

		<table>		
		
			<tr > 
				<button>Watch Courses</button> 
			</tr>
			<tr> 
				<button>Course Roadmap</button> 
			</tr>
			<tr> 
				<button> Resources </button> 
			</tr>
			<tr> 
				<button> Algorithm Challenges</button> 
			</tr>
			
				
		</table> 
	
			
	</div>


</html>